<h1>Welcome to Bookmark Manager</h1>

<section id='new-link'>
  <form action='/links' method='post'>
    Url: <input type='text' name='url'>
    Title: <input type='text' name='title'>
    Tags: <input type='text' name='tags'>
    <input type='submit' value='Add link'>
  </form>
</section>

<h3>Current links:</h3>

<% if @links.any? %>
  <ul id='links-list'>
    <% @links.each do |link| %>
      <li id='link'>
        <a href="<% link.url %>"><%= link.title %></a>
        <% if link.tags.any? %>
          <% link.tags.each do |tag| %>
            <ul id='tags-list'>
              <li id='tag'><%= tag.text %></li>
            </ul>
          <% end %>
        <% end %>
      </li> 
    <%end%>
  </ul>
<% else %>
  <h4>Get out there and find some cool pictures of cats or something dude!</h4>
<% end %>