<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">  
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">  
  <title>Bookmark manager</title>
</head>
<body>
<header>
  <h1>Welcome to Bookmark Manager</h1>
  <% if current_user %>
    <h1>You are signed in as <%= current_user.username %></h1>
    <form id="sign_out" method="post" action="/sessions/delete">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Sign out">
    </form>
  <% else %>
    <a href="/users/new" method="get"><button type="button">Sign up</button></a>
    <form id="sign_in" action="sessions/new" method="post">
      Email: <input type="text" name="email">
      Password: <input type="password" name="password">
      <input type="submit" value="Sign in">
  <% end %>
</header>

<section id='new-link'>
  <form action='/links' method='post'>
    Url: <input type='text' name='url'>
    Title: <input type='text' name='title'>
    Tags: <input type='text' name='tags'>
    <input type='submit' value='Add link'>
  </form>
</section>

<form id="filter" action='/tags/:text' method='get'>
  Filter by: <input type='text' name='filter'><input type='submit' value='Submit'>
</form>

</section id="current links">
<h3>Current links:</h3>
<% if @links.any? %>
  <ul id='links-list'>
    <% @links.each do |link| %>
      <li id='link'>
        <a href="<% link.url %>"><%= link.title %></a>
        <% if link.tags.any? %>
          <% link.tags.each do |tag| %>
            <ul id='tags-list'>
              <li id='tag'><%= tag.text %></li>
            </ul>
          <% end %>
        <% end %>
      </li> 
    <%end%>
  </ul>
<% else %>
  <h4>Get out there and find some cool pictures of cats or something dude!</h4>
</section>
<% end %>
</body>
</html>