<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">  
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">  
  <title>Bookmark manager</title>
</head>
<body>

<header>
  <h1 id="page-title">Welcome to Bookmark Manager</h1>
  <% if current_user %>
    <h1>You are signed in as <%= current_user.username %></h1>
    <form id="sign_out" method="post" action="/sessions/delete">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Sign out">
    </form>
  <% else %>
  <section id="sign-in-up">
    <a href="/users/new" method="get"><button type="button">SIGN UP</button></a>
    <form id="sign_in" action="sessions/new" method="post">
      <input type="text" name="email" placeholder="email address">
      <input type="password" name="password" placeholder="password">
      <input type="submit"  id="sign_in_submit" value="SIGN IN">
    </form>
  <% end %>
</section>
</header>

<aside id="nav">
  </aside>

<section id="links-management">
    <form id="new-link" action='/links' method='post'>
      <input type='text' name='url' placeholder="Url">
      <input type='text' name='title' placeholder="Title">
      <input type='text' name='tags' placeholder="Tags">
      <input type='submit' value='Add link'>
    </form>

  <form id="filter" action='/tags/:text' method='get'>
    <input type='text' name='filter' placeholder="Filter current links"><input type='submit' value='Submit'>
  </form>
</section>

<article id="current-links">
  <% if @links.any? %>
    <ul id='links-list'>
      <% @links.each do |link| %>
        <li id='link-container'>
          <section id="link">
            <a href="<% link.url %>"><%= link.title %></a>
            <% if link.tags.any? %>
              <% link.tags.each do |tag| %>
                  <a href="#" id='tag'><%= tag.text %></a>
              <% end %>
            <% end %>
          </section>
        </li> 
      <%end%>
    </ul>
  <% else %>
    <h4>Get out there and find some cool pictures of cats or something dude!</h4>
</article>

<% end %>
</body>
</html>