<form id="new-user" action="/users/new" method="post">
	Username: 				<input type="text" 		name="username" value="<%= @user.username %>">
	Email: 					<input type="text" 		name="email" value="<%= @user.email %>">
	Password: 				<input type="password" 	name="password">
	Password confirmation: 	<input type="password" 	name="password_confirmation">
							<input type="submit" 	value="Submit">
</form>

<% if flash[:notice] %>
	<section id='flash_notice'><%= flash[:notice] %></section>
<% end %>