header {
	padding: 10px;
}

header a {
	position: relative;
	margin-right: 5%;
	float: right;
}

header h1 {
	float: left;
}

#sign_in {
	position: relative;
	margin-right: 2%;
	float: right;
}

#new-link {
	position: relative;
	margin-top: 3%;
}