header {
	padding: 10px;
	background-color: lightgrey;
	height: 25px;
}

header a {
	position: relative;
	top: 4px;
	float: right;
	padding: 5px;
}

#page-title {
	float: left;
	font-size: 25px;
}

#sign_in {
	position: relative;
	top: 3.4px;
	float: right;
	padding: 5px;
}

#new-link {
	position: relative;
	top: 5px;
	padding: 5px;
	float: left;
}

#filter {
	float: right;
	position: relative;
	top: 5px;
	padding: 5px;
}

#links-list-title {
	padding: 5px;
}

#links-list {
	position: relative;
	top: 5%;
	left: 2%;
}

#link {
	padding: 5px;
}