header {
	padding: 10px;
	background-color: lightgrey;
	height: 25px;
}

header a {
	position: relative;
	margin-top: 4px;
	margin-right: 5%;
	float: right;
}

header h1 {
	float: left;
}

#sign_in {
	position: relative;
	margin-top: 3.5px;
	margin-right: 2%;
	float: right;
}

#new-link {
	position: relative;
	margin-top: 10px%;
	padding: 5px;
	float: left;
}

#filter {
	float: right;
	position: relative;
	margin-top: 5px;
}

#links-list {
	float: left;
}